<!-- Page generated at <%= Time.now.to_s %> -->
<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <title><%= CONFIG[:site][:name] %></title>
  <script defer src="/js/site.js"></script>
</head>
<body>
  <div class="main-page">
    <div class="wrapper">
      <video id="videoplayer"></video>
    </div>
    <div class="info-wrapper">
      <div>
        <div>
          <span id="title">Loading...</span>
          <span id="songWrapper" style="display: none">♫ <span id="song"></span></span>
        </div>
        <div>
          <a href="#random" id="randomWebM">Random</a>
          &middot;
          <a href="#index" id="indexLink">Index</a>
          &middot;
          <a href="#" id="permalink" target="_blank">Download</a>
          &middot;
          <label for="autoplay">
              <input name="autoplay" id="autoplay" type="checkbox">
              Autoplay
          </label>
          &middot;
          <span id="uploaderWrapper">Uploader: <span id="uploader">unknown</span></span>
        </div>
      </div>
    </div>
    <div class="description" style="display: none">
      <p id="description"></span>
    </div>
  </div>
  <div class="index">
    <ul id="indexList">
      <li>Loading, please wait...</li>
    </ul>
  </div>
<% if CONFIG[:piwik][:enabled] %>
<!-- Script to sell your soul to Satan -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["<%= CONFIG[:piwik][:domain] %>"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//<%= CONFIG[:piwik][:piwik_url] %>/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '<%= CONFIG[:piwik][:site_id] %>']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
})();
</script>
<noscript><p><img src="//<%= CONFIG[:piwik][:piwik_url] %>/piwik.php?idsite=<%= CONFIG[:piwik][:site_id] %>" style="border:0;" alt="" /></p></noscript>
<% else %>
<!-- Not today, Satan. -->
<% end %>
</body>
</html>
